<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        
        <div class="signInDiv">
          <a class="dollar" href="/login" class="col-3 btn btn-primary">old Text</a>
          <div class="textTestSI">SIGN IN</div>
        </div>

        <div class="signInDiv">       
          <a class="dollar" href="/signup" class="col-3 btn btn-primary">old Text2</a>
          <div class="textTestSI">JOIN US</div>
        </div>
    </div>

      <div style="max-width: 100vh;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 100%;"><iframe src="https://tenor.com/embed/11669296?playertype=card" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media"></iframe></div></div>
</main>
    
<%- include('partials/footer') -%>