body{
  // background-color: #F7b676;
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(50,236,156,1) 0%, rgba(252,207,22,1) 100%);
}

.col-3 btn btn-primary{
  background: rgb(248, 1, 1);
}


button:hover{
  box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: black;
  //padding: 1rem 1.5rem;
  text-alight: center;
  text-decoration: none;
  //display: inline-block;
}
